<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yun9.mobile"
    android:versionCode="1"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 添加短信服务 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 百度地图权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 百度地图权限 -->


    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 小米PUSH 额外权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 获取通讯录 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <permission
        android:name="com.yun9.mobile.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signatureOrSystem" />

    <uses-permission android:name="com.yun9.mobile.permission.MIPUSH_RECEIVE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" 
        
        >

        <!-- 欢迎 -->
        <activity
            android:name=".framework.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主页 -->
        <activity
            android:name=".framework.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 登录页面 -->
        <activity
            android:name=".framework.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <!-- 消息卡片 -->
        <activity
            android:name="com.yun9.mobile.msg.activity.MsgCardActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <!-- 新消息 -->
        <activity
            android:name="com.yun9.mobile.msg.activity.NewMsgCard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <!-- 新消息评论 -->
        <activity
            android:name="com.yun9.mobile.msg.activity.NewCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- 编辑用户个性签名 -->
        <activity
            android:name="com.yun9.mobile.framework.activity.EditUserSignatureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- X5评论 -->
        <activity
            android:name="com.yun9.mobile.msg.action.invoke.impl.BPMCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- 消息卡片图片显示 -->
        <activity
            android:name="com.yun9.mobile.msg.activity.MsgCardImageViewPagerActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        
         <!-- 显示指定URL -->
        <activity
            android:name="com.yun9.mobile.msg.activity.ShowUrlActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <!-- 查看图片 -->
        <activity
            android:name="com.yun9.mobile.imageloader.activity.ShowImageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <!-- 获取相册图片 -->
        <activity
            android:name=".camera.activity.GetPicActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <!-- 相册 -->
        <activity
            android:name="com.yun9.mobile.camera.activity.AlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <!-- 点击显示大图 -->
        <activity
            android:name=".camera.activity.ActivityForBigPic"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <!-- 图片浏览 -->
        <activity
            android:name="com.yun9.mobile.camera.activity.ImageBrowseActivity"
            android:theme="@android:style/Theme.NoTitleBar" 
            />
        
        <!-- 拍照 -->
        <activity
            android:name=".camera.activity.CameraActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

    	<!-- 文档 -->
        <activity
            android:name="com.yun9.mobile.camera.activity.DocumentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        
        
        <!-- 获取位置 -->
        <activity
            android:name="com.yun9.mobile.position.activity.PositionActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.yun9.mobile.position.activity.DemoPositionActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 个人资料 -->
        <activity
            android:name=".framework.activity.PersonalDataActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <!-- 签到 -->
        <activity
            android:name=".framework.activity.SignActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 签到 -->
        <activity
            android:name=".framework.activity.DaKaActiviy"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" 
            android:windowSoftInputMode="adjustPan"/>
        <!-- 我的考勤 -->
        <activity
            android:name=".framework.activity.MySignActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- 获取公开程度 -->
        <activity
            android:name="com.yun9.mobile.framework.activity.ScopeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 关于APP -->
        <activity
            android:name="com.yun9.mobile.framework.activity.AboutAppActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 话题 -->
        <activity
            android:name="com.yun9.mobile.framework.activity.TopicActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
         <!-- 流程新增 -->
        <activity
            android:name="com.yun9.mobile.bpm.activity.BpmActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
         <!-- 流程列表导航 -->
        <activity
            android:name="com.yun9.mobile.bpm.activity.BpmNavActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
         <!-- 流程列表导航 -->
        <activity
            android:name="com.yun9.mobile.bpm.activity.BpmEditNodeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <!-- 我的排班 -->
        <activity
            android:name="com.yun9.mobile.calendar.activity.ScheduleActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <!-- 选择排班 -->
        <activity
            android:name="com.yun9.mobile.calendar.activity.SelectShiftActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <!-- 服务产品 -->
        <activity
            android:name="com.yun9.mobile.product.activity.ProductActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <!-- 产品资料 -->
        <activity
            android:name="com.yun9.mobile.product.activity.ProductDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <!-- 订单信息 -->
        <activity
            android:name="com.yun9.mobile.product.activity.OrderActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        
        
        
        <!-- 测试功能使用 -->
        <activity
            android:name="com.yun9.mobile.framework.test.FormTestActivity"
            android:theme="@style/AppTheme"
            />
        
        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="xLTeUF8IpZhbm0Z8539pukRq" />

        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="xLTeUF8IpZhbm0Z8539pukRq" />
        <!-- 小米PUSH app key -->
        <meta-data
            android:name="miapp_id"
            android:value="\02882303761517272222" />
         <meta-data
            android:name="miapi_key"
            android:value="\05561727274222" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <!-- 发动态是@联系人的窗口 -->
        <activity
            android:name=".department.activity.ContactUserActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
         <!-- 添加用户的窗口 -->
        <activity
            android:name=".department.activity.AddUserActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
         <!-- 部门的详细信息 -->
        <activity
            android:name=".department.activity.DepartmentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 用户手册的窗口 -->
        <activity
            android:name=".usermanual.activity.UserManualActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!--图片浏览的窗口  -->
		<activity
            android:name=".image.activity.ImageViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
         <!--我的客户  -->
		<activity
            android:name=".mycustomer.activity.MyCustomerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
         <!--服务订单  -->
		<activity
            android:name=".serviceorder.activity.ServiceOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
         <!--服务订单支付的activity  -->
		<activity
            android:name=".serviceorder.activity.ServiceOrderPayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!--我的客户详细页面  -->
        <activity
            android:name=".mycustomer.activity.MyCustomerDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 功能测试 -->
        <activity
            android:name="com.yun9.mobile.framework.test.FunTestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- push应用定义消息receiver声明 -->
       <!--  <receiver android:name="com.yun9.mobile.push.PushMessageReceiver" >
            <intent-filter>

                接收push消息
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                接收bind,unbind,fetch,delete等反馈消息
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver> -->

        <!-- push必须的receviver和service声明 -->
        <!-- <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service> -->
        <!-- push结束 -->


        <!-- 小米PUSH Service配置 -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice" >
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <!-- 自定义小米PUSH接收器 -->
        <receiver
            android:name="com.yun9.mobile.push.MiPushMessageReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- 小米PUSH配置结束 -->
    </application>

</manifest>