<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yun9.wservice">

    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--发短信权限-->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="com.yun9.wservice.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <uses-permission android:name="com.yun9.wservice.permission.MIPUSH_RECEIVE" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->

    <!--添加可以向外拨打电话的权限  -->
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="aW1eZnmEYPVrL72xMDG9Y4sa" />

        <!-- 百度地图定位服务-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>

        <!-- 小米Push开始-->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".support.XiaoMiPushMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- 小米push结束 -->

        <activity
            android:name=".view.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActivity"></activity>
<!--
android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:theme="@style/AppThemeActivity"
-->

        <!-- 欢迎 -->
        <activity
            android:name=".view.other.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.msgcard.MsgCardListActivity"
            android:label="@string/activity_msg_card_list_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.msgcard.MsgCardDetailActivity"
            android:label="@string/activity_msg_card_detail_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.demo.DemoFormActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.demo.LocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name="com.yun9.jupiter.form.FormActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name="com.yun9.jupiter.form.DetailFormCellActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name=".view.login.LoginMainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>


        <activity
            android:name=".view.org.OrgCompositeActivity"
            android:label="@string/org_composite_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.org.OrgListActivity"
            android:label="@string/org_list_title_hr"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.org.OrgEditActivity"
            android:label="@string/org_edit_new"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.org.OrgChooseAddUserActivity"
            android:label="@string/org_add_newuser"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.org.OrgPhoneUserActivity"
            android:label="@string/org_phone_user"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>



        <activity
            android:name=".view.doc.DocCompositeActivity"
            android:label="@string/doc_composite_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.doc.LocalImageActivity"
            android:label="@string/doc_image_location"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.doc.LocalFileActivity"
            android:label="@string/doc_file_location"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.doc.YunFileActivity"
            android:label="@string/doc_file_online"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.doc.YunImageActivity"
            android:label="@string/doc_image_online"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.common.MultiSelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.other.SettingActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.inst.SelectInstActivity"
            android:label="@string/select_inst"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.dynamic.NewDynamicActivity"
            android:label="@string/app_send_msgcard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>


        <activity
            android:name=".view.location.LocationSelectActivity"
            android:label="@string/location_select"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.topic.TopicActivity"
            android:label="@string/topic"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>


        <activity android:name=".view.client.ClientActivity"
            android:label="@string/user_mycontact"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.order.OrderManagerActivity"
            android:label="@string/user_buyer"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.order.OrderCartActivity"
            android:label="@string/waiting_pay"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name="com.yun9.jupiter.image.ImageBrowerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.order.OrderListActivity"
            android:label="@string/order_list"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.order.OrderDetailActivity"
            android:label="@string/order_detail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.order.OrderComplainActivity"
            android:label="@string/complain"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.order.OrderCommentActivity"
            android:label="@string/comment_work_order"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.order.OrderCommentDetailActivity"
            android:label="@string/comment_detail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
        android:name=".view.order.OrderAttachmentActivity"
        android:label="@string/attach_submit"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.order.OrderAttachmentChoiceWayActivity"
            android:label="@string/attach_submit_ways"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
        android:name=".view.payment.RechargeActivity"
        android:label="@string/recharge"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.payment.RechargeChoiceWaysActivity"
            android:label="@string/payment_ways"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.payment.PaymentOrderActivity"
            android:label="@string/payment_now"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.payment.PaymentChoiceWaysActivity"
            android:label="@string/payment_ways"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.payment.RechargeRecordListActivity"
            android:label="@string/recharge_history"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.payment.RechargeResultActivity"
            android:label="@string/pay_detail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".view.product.ProductActivity"
            android:label="@string/product_detail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <!-- 拍照 -->
        <activity
            android:name=".view.camera.CameraActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name=".view.myself.UserInfoActivity"
            android:label="@string/user_info"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity
            android:name=".view.myself.UserSignatureActivity"
            android:label="@string/user_signature"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity android:name=".view.myself.UserPasswordActivity"
            android:label="@string/user_password"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <!-- 支付宝Activity-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity" android:configChanges="orientation|keyboardHidden|navigation" android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity" android:configChanges="orientation|keyboardHidden|navigation" android:exported="false"
            android:screenOrientation="behind" >
        </activity>

    </application>

</manifest>
